html, body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Roboto Light', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.margin {
  margin-top: 32px;
}
